.Container {
  background-image: url(../../images/Cloud.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1170px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}
@media screen and (max-width: 375px) {
  .Container {
    width: 320px;
    min-height: auto;
    margin: 0;
    background-image: url(../../images/Cloud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
